/* style.css */
/* TODO: keyword fonts instead of px*/
body {
 background-color:deepskyblue;
 color: #FFFFFF;
}
h1 {
 color: deepskyblue;
 text-align: center;
 font: bold 75;
 background-color: white;
}
h2{
  font-size: 35;
  font-family:GothamRounded, Consolas, 'Arial Narrow Bold', sans-serif;
  text-align: center
}
h3{
  font-size: 26;
  text-align: center;
}
p {
 color: white;
 text-align: center;
 font-size: 25;
}
span{
  font-size: 12;
  text-align: center;
}
#title{
  font-size: 100;
}

.icons{
  width: 120px;
  height: 120px;
}
