/* style.css */
/* TODO:  */
body {
 background-color:deepskyblue;
 color: #FFFFFF;
}
h1 {
 color: deepskyblue;
 text-align: center;
 font: bold 75;
 background-color: white;
}
h2{
  font-size: 35;
  font-family:GothamRounded, Consolas, 'Arial Narrow Bold', sans-serif
}
h3{
  font-size: 26
}
p {
 color: white;
 text-align: left;
 font-size: 25;
}
span{
  font-size: 12
}
#title{
  font-size: 100
}

.icons{
  width: 120px;
  height: 120px;
}
